body {
  display: flex;
}

h4.time {
  position: absolute;
  top: 3%;
  right: 3%;
}

h4.scoreboard {
  position: absolute;
  top: 3%;
  left: 3%;
}

section {
  align-items: center;
  text-align: center;
}
